.formContainer{
    background-color: white;
    border-radius: 20px;
    min-inline-size: 280px;
    inline-size: 60%;
    max-inline-size: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

    h3{
        font-size: 20px;
        font-weight: normal;
        color: black;
    }

    h2{
        font-size: 30px;
        font-weight: bolder;
        color: #ff6961;
    }

    form{
        margin-block-start: 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .inputContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: whitesmoke;
            padding: 10px 15px;
            border-radius: 8px;
            color:black;
            border: 2px solid #84b6f4;
        }

        .left{
            display: flex;
            flex-direction: column;
            gap: 3px;
            inline-size: 80%;

            label{
                font-size: 11px;
            }

            input{
                border: none;
                font-weight: bold;
                background-color: inherit;
                font-size: 13px;
                color: white;
            }
        }

        button{
            margin-block-start: 10px;
            border: none;
            inline-size: 100%;
            padding: 10px 0;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
            color: white;
            background-color: #ff6961;
            border-radius: 8px;
            transition-duration: .3s;
        }

        button:hover{
            background-color: #812823;
        }

        p{
            text-align: center;
            font-size: 12px;

            b{
                cursor: pointer;
                color: #ff6961;
            }

            b:hover{
                text-decoration: underline;
            }
        }
    }
}

.toast {
    transition-duration: 0.3s;
    background-color: #6358dc75;
    border-radius: 8px;
    inline-size: 30%;
    text-align: center;
    position: absolute;
    inset-block-end: 0;
    margin-block-end: 15px;
    padding: 10px;
  }

  .welcome {
    padding: 35px 75px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
  
    h2 {
      font-weight: bold;
      color: orangered;
      font-size: 25px;
    }
  
    h3 {
      font-weight: normal;
      color: #2f2f2f;
    }
  
    .buttons {
      display: flex;
      gap: 25px;
      justify-content: center;
      margin-block-start: 15px;
  
      button {
        background-color: orange;
        border: none;
        cursor: pointer;
        color: white;
        padding: 5px 20px;
        border-radius: 3px;
        transition-duration: 0.3s;
      }
  
      button:hover {
        background-color: #4235d6;
      }
    }
  } 